@media (max-width:1200px) {	
.all-services > h3 {margin: 0 15% 40px;width: 70%;}
.fixed-sidebar{width:220px;}
}


@media (max-width:980px) {
header{display:none;}	
.responsive-header{display:block;}	
.column {float: left;width: 100%;margin-bottom: 30px;}
.column:last-child{margin: 0;}    
.welcome-overlay:before{display: none;}
.welcome-overlay{background:#333333;float:left;padding:0!important;position:relative;width:100%;}
.main-section::before {display:none;}
.site-info-bar {background:#232323;float:left;position: relative;width: 100%;}
.masonary > div {float: left;width: 50%;}
.free-images {text-align: center;}
.free-images .row > div {display: inline-block;float: none;width: 49%;}
.best-packages > .row > div {float: left;width: 50%;}
footer .column{width:50%;}
footer .widget:before{display: none;}
.credits {border-bottom: 1px solid #e1e1e1;border-right: 0 none;display: unset;float: left;width: 100%;}
.subscribe {display: unset;float: left;width: 100%;}
.main-tabber .custom-tabs {margin: 0 0 10px;width: 100%;}
.main-search {margin: 0;width: 100%;}
.images-category {padding: 30px;}
.images-category ul {padding: 0;}
.info-box {padding: 20px 50px;}
.info-box i {top: 30px;}
.title p {width: 100% !important;}
.filteration > ul {margin: 0 0 20px;max-width: none;text-align: center;width: 100%;}
.filteration > ul {display: inline-block;float: none;}
.filteration li {display: inline-block;float: none;}
.filteration li:last-child {margin: 0;}
.pages {max-width: none;text-align: center;width: 100%;}
.pages > a {display:inline-block;float:none;}
.images-list .row > div > div {float:left;width:50%;}
.images-list .row > div > div.jscroll-added {width:100%;}
.jscroll-added > div {float:left;width:50%;}
.images-list .row div.next {width: 100%;}
.grid-select{display:none;}
.search-tools > ul {position: relative;right: 0;text-align: center;width: 100%;padding:0 60px;
-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-ms-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg);
}
.search-tools > ul li, .search-tools > ul li:nth-child(2n+1) {opacity:1;
-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-ms-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg);
}
.search-tools {float: left;text-align: center;width: 100%;}
.search-tools > span {display: inline-block;float: none;}
.search-tools > span::before {
-webkit-transform:rotate(-90deg);
-moz-transform:rotate(-90deg);
-ms-transform:rotate(-90deg);
-o-transform:rotate(-90deg);
transform:rotate(-90deg);
}
.affiliation-center {left: 0;padding: 0 30px;width: 100%;}
.all-services > h3 {margin: 0 0 40px; width: 100%;}
.all-services .row > div {float: left;width: 50%;}
.post-img {display: unset;float: left;padding: 10px 0;width: 100%;}
.post-detail {display: unset;float: left;padding: 10px 0;width: 100%;}
.post-img img{width:100%;}
.affiliated-companies .row > div {float: left;width: 50%;}
.images-list.loadmore-disable .row > div {float: left;width: 50%;}
.images-list .theme-btn {margin-bottom: 40px;margin-top: -30px;}
.detail-page {display: unset;float: left;width: 100%;}
.single-img, .single-img-detail {display:unset;float:left;width:100%;}
.single-img-detail {padding: 30px 0 0;}
.fixed-sidebar {width: 270px!important;right:-270px !important}
.sidebar-toggle.c-hamburger{right:0;}
.profile-info strong, .profile-info span {display: unset;float: left;margin: 5px 0;width: 100%;}
.account-tabs .tab-content {padding: 20px;}
.admin-detail {padding: 20px 30px;}
form .row > div {float: left; width: 100%;}
.popup-container span.close-popup {border-radius: 0;font-size: 13px;height: 32px;line-height: 30px;right: 0;top: 0;width: 32px;}
.wishlist-btn {height: 30px;width: 30px;}
.wishlist-btn a {border-radius: 5px;font-size: 12px;line-height: 32px;}

}
 
	
@media (max-width:767px) {
.block .container,.container{padding:0 15px;}
.registration-popup .form-box {margin: 0;padding: 30px 20px;width: 100%;}
.credits, .subscribe {padding: 20px;}
.images-list .row > div > div{width:100%;}
.images-list.loadmore-disable .row > div {width:100%;}
.jscroll-added > div{width:100%;}
.filteration {padding: 15px 20px;}
.filteration li {float: left;margin: 0;padding: 5px 10px;width: 50%;}
.pages > span {float: left;margin-bottom: 20px;width: 100%;}
.pages > a {margin: 0;}
.affiliation-center h1 {font-size: 30px;}
.affiliation-center > p {font-size: 15px;letter-spacing: 0.5px;margin: 0;width: 100%;}
.review-inner {padding: 30px 30px 60px;}
.title h2 {font-size: 25px;}
#purchase-history {float: left;width: 100%;}
.purchase-history strong, .purchase-history span {margin-bottom: 10px;width: 100%;}
.cart-product-detail {display: unset;float: left;padding: 10px 0 0;width: 100%;}
.cart-block form.field-set{padding:0;}
.shopping-cart > ul li{padding:0;}
.remove-item {bottom: auto;left: auto;right: 0;top: 0;}
.selectbox > i, 
.selectbox > span.select2-container {display: unset;float: left;margin: 3px 0;width: 100%;}
.admin-detail {display: unset;float: left;width: 70%;}
.admin-img {display: unset;float: left;width: 30%;}
.blog-single-image {margin-bottom: 30px;}
.blog-single-title {font-size: 18px;line-height: 24px;}
.comment img {margin: 0;}
.comment > h3 {float: left;width: 100%;}
.comment > p {float: left;width: 100%;}
.comments-area > ul > li ul {padding: 0;}
.form {padding: 50px 30px;}
.post-detail h3 {font-size: 20px;line-height: 25px;margin-bottom: 10px;}

}



@media (max-width:480px){
.best-packages > .row > div,
.masonary > div,
footer .column{width:100%;}
.free-images .row > div {float: left;width: 100%;}
.main-tabber .custom-tabs li {margin: 0 0 10px;text-align: center;width: 100%;}
.main-tabber .custom-tabs li a {width: 100%;}
.all-services .row > div{width:100%;}
.affiliated-companies .row > div{width:100%;}
.info-box {width: 100%;}
.admin-detail {width:100%;}
.admin-img {width:100%;padding:0;}
}



